<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/site.ico">
    <title>Cofee Planet | Buy Your Cofee With Us </title>
</head>


<body>
    <header>
        <a href="/" class="logo"> C<span>&#9863;</span>feePlanet</a>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <a class="active" href="/">home</a>
            <a href="#product">Products</a>
            <a href="#order">Order us</a>
            <a href="#FAQ">FAQ</a>
            <a href="#clients">Clients</a>
            <a href="#about">about us</a>
        </nav>
    </header>

    <section class="home" id="home">
        <div class="container">
            <h1>Buy Your Favourite Cofee Beans</h1>
            <h2>with your finger tips</h2>
            <a href="#" class="btn"> Buy Now</a>
        </div>
    </section>




    <section class="prevent" id="product">
        <h1 class="heading">Our Famous Products</h1>

        <div class="box-container">
            <div class="box">
                <img src="static/img/p6.png" alt="">
                <h3>Arabica</h3>
                <p>Known as one of the most popular and well known types of coffee bean, Arabica beans are the most
                    commonly produced variety and are considered higher quality beans. In fact, over 60% of the coffee
                    beans in the world that are produced are Arabica variety.
                </p>
            </div>
            <div class="box">
                <img src="static/img/p1.png" alt="">
                <h3>Robusta</h3>
                <p>The next variety of coffee bean is Robusta, which is the second most produced in the world.
                    This type of coffee bean grows best in a hot climate with irregular rainfall and can grow at a
                    number of altitudes too. Compared to Arabica beans.
                </p>
            </div>
            <div class="box">
                <img src="static/img/p2.png" alt="">
                <h3>Liberica</h3>
                <p>One of the hardest types of coffee bean to come by is the Liberica bean. They are larger than the
                    other beans and is the
                    only one in the world that is known to have an irregular shape.
                    Liberica beans are also unique in their aroma.

                </p>
            </div>
            <div class="box">
                <img src="static/img/p3.png" alt="">
                <h3>Excelsa</h3>
                <p>Although having recently been classified as a member of the Liberica family, the Excelsa bean is
                    vastly different in
                    taste when compared to the Liberica coffee bean.

                    So there you have it, a full run-through of the main types of coffee. You can check out our range of
                    coffees.



                </p>
            </div>
            <div class="box">
                <img src="static/img/p4.png" alt="">
                <h3>Vietnam - Robusta</h3>
                <p>We can say with some degree of confidence the only thing not affected by the war in Vietnam was
                    coffee. In Vietnam,
                    people prefer the Robusta coffee bean with a strong taste. In fact, Vietnam can be said to be the
                    native land of
                    Robusta. Vietnam is among top coffee exporters in the world.

                </p>
            </div>
            <div class="box">
                <img src="static/img/p5.png" alt="">
                <h3>Uganda - Arabica & Robusta</h3>
                <p>Ugandan coffee resembles African coffee in terms of its aroma and wine-like acidity. But it is not as
                    popular as Kenyan
                    or Ethiopian coffee. Most of the coffee produced is exported which contributes significantly to the
                    economy. Among the
                    important types of coffee produced in Uganda is Bugishu.

                </p>
            </div>
        </div>
    </section>



    <section class="symptoms" id="order">
        <h1 class="heading">order Us hurry up!</h1>
        <p class="sympP">create your order</p>
        <div class="column">
            <div class="main-image">
                <img src="/static/img/ab.jpeg" alt="">
            </div>
            <div class="box-container">
                <div class="box">
                    <img src="/static/img/c1.png" alt="">
                    <h3>Facebook</h3>
                </div>
                <div class="box">
                    <img src="/static/img/c2.png" alt="">
                    <h3>Whatsapp</h3>
                </div>
                <div class="box">
                    <img src="/static/img/c3.png" alt="">
                    <h3>Linkedin</h3>
                </div>
                <div class="box">
                    <img src="/static/img/c4.png" alt="">
                    <h3>Twitter</h3>
                </div>
                <div class="box">
                    <img src="/static/img/c5.png" alt="">
                    <h3>Git </h3>
                </div>
                <div class="box">
                    <img src="/static/img/c6.png" alt="">
                    <h3>Instagram</h3>
                </div>
                <div class="box">
                    <img src="/static/img/c7.png" alt="">
                    <h3>Skype</h3>
                </div>
            </div>
        </div>

    </section>



    <section class="precautions" id="FAQ">

        <h1 class="heading">Frequently Asked Questions</h1>

        <div class="column">
            <div class="box-container">
                <h3 class="title">Good Questions</h3>
                <div class="box">
                    <img src="/static/img/p5.png" alt="">
                    <h3> </h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut similique porro quidem, blanditiis
                        molestiae nostrum illo ullam autem minus nemo debitis perferendis enim ipsam.</p>
                </div>
                <div class="box">
                    <img src="/static/img/p3.png" alt="">

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut similique porro quidem, blanditiis
                        molestiae nostrum illo ullam autem minus nemo debitis perferendis enim ipsam.</p>
                </div>
                <div class="box">
                    <img src="/static/img/p2.png" alt="">

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut similique porro quidem, blanditiis
                        molestiae nostrum illo ullam autem minus nemo debitis perferendis enim ipsam.</p>
                </div>
            </div>





            <div class="box-container">
                <h3 class="title">Bad Questions</h3>
                <div class="box">
                    <img src="/static/img/p7.png" alt="">

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut similique porro quidem, blanditiis
                        molestiae nostrum illo ullam autem minus nemo debitis perferendis enim ipsam.</p>
                </div>
                <div class="box">
                    <img src="/static/img/p4.png" alt="">

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut similique porro quidem, blanditiis
                        molestiae nostrum illo ullam autem minus nemo debitis perferendis enim ipsam.</p>
                </div>
                <div class="box">
                    <img src="/static/img/p1.png" alt="">

                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut similique porro quidem, blanditiis
                        molestiae nostrum illo ullam autem minus nemo debitis perferendis enim ipsam.</p>
                </div>
            </div>
        </div>


    </section>




    <section class="doctor" id="clients">
        <h1 class="heading">Testimonials</h1>
        <div class="box-container">
            <div class="box">
                <img src="/static/img/t1.jpg" alt="">
                <h3>Zain Ali Khan </h3>
                <span>Python Developer</span>
                <div class="share">
                    <a href="#" class="fab fa-whatsapp"></a>
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/img/t2.jpg" alt="">
                <h3>Hannah Grace </h3>
                <span>Logo Maker</span>
                <div class="share">
                    <a href="#" class="fab fa-whatsapp"></a>
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/img/t3.jpeg" alt="">
                <h3>Stephen </h3>
                <span>Senior UI/UX Developer</span>
                <div class="share">
                    <a href="#" class="fab fa-whatsapp"></a>
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

    </section>


    <section class="hand-wash" id="about">
        <h1 class="heading">About us</h1>
        <div class="column">
            <div class="box-container">
                <div class="box">
                    <img src="/static/img/a1.jpeg" alt="">
                    <h3>Zain Ali Khan</h3>
                    <p>Back-end Developer</p>
                </div>
                <div class="box">
                    <img src="/static/img/a4.jpg" alt="">
                    <h3>Hannah</h3>
                    <p>Front-end Developer</p>

                </div>
                <div class="box">
                    <img src="/static/img/a2.jpg" alt="">
                    <h3>Charles</h3>
                    <p>Front-end Developer</p>
                </div>
                <div class="box">
                    <img src="/static/img/a5.jpg" alt="">
                    <h3>Marive</h3>
                    <p>SEO Expert</p>
                </div>
                <div class="box">
                    <img src="/static/img/a3.jpg" alt="">
                    <h3>Harren</h3>
                    <p>Back-end Developer</p>
                </div>


           

            </div>
            <div class="main-image">
                <img src="/static/img/cover-min.jpg" alt="">
            </div>
        </div>

    </section>




    <div class="footer">
        <div class="box-container">
            <div class="box">
                <h3>About us</h3>
                <p>
                    We are the proessional website designer.<br>
                    If You Like This Sample Feel Free to Contact Me.
                </p>
            </div>
            <div class="box">
                <h3>Locations</h3>
                <a href="#">Pakistan</a>
                <a href="#">USA</a>
                <a href="#">Japan</a>
                <a href="#">Bangladesh</a>
                <a href="#">Uk</a>
                <a href="#">India</a>
            </div>
            <div class="box">
                <h3>Quick links</h3>
                <a href="#">Home</a>
                <a href="#">Prevents</a>
                <a href="#">Precautions</a>
                <a href="#">Symptoms</a>
                <a href="#">Doctor</a>
                <a href="#">Hand-wash</a>
            </div>
            <div class="box">
                <h3>Follow us</h3>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
                <a href="#">Linkedin</a>
                <a href="#">Youtube</a>

            </div>
        </div>
        <h1 class="credit"> created by <a href="">Mr.Zain Ali Khan </a>&copy; copyright2022</h1>
    </div>

    <a href="#home" class="scroll-top">
        <img src="static/img/up.png" alt="">
    </a>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/java.js"></script>
</body>

</html>